html {
  scroll-behavior: smooth;
}


/* === CONFIGURATION === */
:root {
  --cols: 5;
  --rows: 2;
  --bar-thickness: 15px;
  --pane-width: calc((100% - ((var(--cols) + 1) * var(--bar-thickness))) / var(--cols));
  --pane-height: calc((100% - ((var(--rows) + 1) * var(--bar-thickness))) / var(--rows));
}

body {
  background: linear-gradient(to bottom, black 0%, black 60%, #560000 85%, #3e0202 100%);
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-scene {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.scene {
  position: relative;
  width: 810px;
  height: 360px;
  background: #ff0000;
  overflow: hidden;
}